.itemCradImage{
    height: 150px !important;
    object-fit: scale-down;
}
.horizontal-list{
    display: flex;
    flex-wrap: wrap;
}
.cardgroup-size{
    max-width: auto;
    margin-top: 20px;
    
}
.cardgroup-spacing {
  margin-bottom: 20px;
  
  padding-left: 1px;
}

.card-spacing {
  margin-right: 10px;
  padding-left: 10px;
  margin-left: 100px;
  
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .button-container button {
    margin-right: 20px;
    margin-left: 20px;
  }