.ant-menu {
    width: 100%;
    padding: 20px 0;
  }
.Cardname{
 margin-top: 1%;
 margin-bottom: 5%;
}
.Cardcontent{
    margin-top: 5%;
}
.CatName{
    margin-top: 5%;
    margin-bottom: 5%;
}
.DogName{
    margin-top: 5%;
    margin-bottom: 5%;
}