@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');


*{
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.SideMenuAndPageContent{
  align-items: flex-start;
  flex: 1;
  
}
.MainPage{
  display: flex;
  flex-direction: column;
  height: 100vh;

}